:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #217685;

  --cell-size: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background-color: #17505a;
  border-bottom: 1px white solid;
}

#boards {
  display: inline-block;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
}

.cell {
  width: 2rem;
  height: 2rem;
  border: 1px black solid;
  background-color: white;
}

.hit {
  background-color: aquamarine;
  border-color: green;
}

.miss {
  background-color: rgba(255, 131, 127, 0.945);
  border-color: rgb(128, 0, 0);
}
