:root {
  font-family: "Rubik Mono One", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #217685;

  --cell-size: 3.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

button {
  padding: 0.5rem;
  background-color: #217685;
  color: white;
}

#randomize-button {
  background-color: rgb(184, 181, 228);
  color: black;
}

#setup-menu,
#game-over-screen {
  padding: 2rem;
  margin: auto;
  border-radius: 20px;
}

#go-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#header {
  padding: 1.4rem;
  text-align: center;
  background-color: #17505a;
  border-bottom: 1px white solid;
  font-size: large;
}

#main {
  padding: 5rem 0;
}

#boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}

#cpu-board:hover {
  cursor: crosshair;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  border: 8px black solid;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px black solid;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--cell-size) - 1rem);
  color: black;
}

.selectable:hover {
  background-color: rgb(190, 226, 240);
}

.occupied {
  background-color: rgba(52, 14, 155, 0.705);
}

.miss {
  background-color: rgb(170, 170, 170);
}

.hit {
  background-color: rgba(255, 131, 127, 0.945);
}

#fleets {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 30%;
}

.ship {
  display: flex;
  flex-direction: row;
}
